openapi: 3.0.1
info:
  title: Boarding APIs definition
  version: v 1.0
servers:
  - url: https://int.api.fiservapps.com
  - url: https://cert.api.fiservapps.com
  - url: https://prod.api.fiservapps.com
    description: Generated server url
paths:
  /fx/v1/boarding/clients/{clientID}/locations:
    post:
      tags:
        - Boarding
      x-group-name: Boarding
      x-proxy-name: Create or Update Location
      summary: Create or Update Location
      description: Creates or Updates a Location. If the Location ID matches an existing location, the Location is updated. If the Location ID doesn't match an existing location, a new Location is created.
      operationId: createExternalLocation
      parameters:
        - name: Api-Key
          in: header
          description: API and Secret key will be provided as part of the customer onboarding.
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Use Epoch timestamp in milliseconds in the request.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization information for the request. use API key and secret to build the HMAC signature Format- HMAC {hmacToken}.
          required: true
          schema:
            type: string
        - name: Client-Request-ID
          in: header
          description: A unique random number for each request.
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessingLocation'
        required: true
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
        '400':
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '404':
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
        '503':
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableResponse'
        '504':
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorResponse'
    get:
      tags:
        - Boarding
      x-group-name: Boarding
      x-proxy-name: Get All Client Locations
      summary: Provides a list of all locations associated with the client
      description: Provides a list of all locations associated with a Client.
      operationId: getAllExternalLocations
      parameters:
        - name: Apikey
          in: header
          description: API and Secret key will be provided as part of the customer onboarding.
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Use Epoch timestamp in milliseconds in the request.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization information for the request. use API key and secret to build the HMAC signature Format- HMAC {hmacToken}.
          required: true
          schema:
            type: string
        - name: Client-Request-ID
          in: header
          description: A unique random number for each request.
          required: true
          schema:
            type: number
        - name: clientID
          in: path
          description: The unique identifier of the client submitting the request.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessingLocationDetail'
        '400':
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '404':
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
        '503':
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableResponse'
        '504':
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorResponse'

  /fx/v1/boarding/clients/{clientID}/locations/{locationID}:
    get:
      tags:
        - Boarding
      x-group-name: Boarding
      x-proxy-name: Get Client Location
      summary: Provides the exact location detail associated with the sub client
      description: Provides the exact location detail associated with a Client.
      operationId: getLocation
      parameters:
        - name: Apikey
          in: header
          description: API and Secret key will be provided as part of the customer onboarding.
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Use Epoch timestamp in milliseconds in the request.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization information for the request. use API key and secret to build the HMAC signature Format- HMAC {hmacToken}.
          required: true
          schema:
            type: string
        - name: Client-Request-ID
          in: header
          description: A unique random number for each request.
          required: true
          schema:
            type: number
        - name: clientID
          in: path
          description: The unique identifier of the client submitting the request. 
          required: true
          schema:
            type: string
        - name: locationID
          in: path
          description: The unique identifier of the Location submitting the transaction.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessingLocationDetail'
        '400':
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '404':
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
        '503':
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableResponse'
        '504':
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorResponse'

  /fx/v1/boarding/agents/{agentID}/clients:
    post:
      tags:
        - Boarding
      x-group-name: Boarding
      x-proxy-name: Create or Update Client
      summary: Create or Update Client
      description: Creates or Updates a Client. If the Client ID matches an existing client, the Client is updated. If the Client ID doesn't match an existing client, a new Client is created.
      operationId: createExternalSubClient
      parameters:
        - name: Api-Key
          in: header
          description: API and Secret key will be provided as part of the customer onboarding.
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Use Epoch timestamp in milliseconds in the request.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization information for the request. use API key and secret to build the HMAC signature Format- HMAC {hmacToken}.
          required: true
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: A unique random number for each request.
          required: true
          schema:
            type: number
        - name: agentID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessingClient'
        required: true
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingClientResponse'
        '400':
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
        '404':
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
        '503':
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableResponse'
        '504':
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayErrorResponse'

components:
  schemas:
    FxDccPlatformIdentifier:
      type: object
      properties:
        platformId:
          type: string
        acquirerId:
          type: string
    ApiResponseVoid:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
    BaseNode:
      type: object
      properties:
        nodeType:
          type: string
          enum:
            - Root
            - Enterprise
            - Servicer
            - Agent
            - SubClient
            - Location
        id:
          type: string
        parentID:
          type: string
        name:
          type: string
        createTimestamp:
          type: integer
          format: int64
        crossRefID1:
          type: string
        crossRefID2:
          type: string
        mcp:
          type: boolean
        dcc:
          type: boolean
        dcp:
          type: boolean
        dcs:
          type: boolean
        dpt:
          type: boolean
        dpp:
          type: boolean
    BillingSetupWithOverride:
      type: object
      properties:
        billingType:
          type: string
          enum:
            - MAPS_MERSUM
            - MISC
            - CPR
            - NONE
        overridden:
          type: boolean
    CountryListWithOverride:
      type: object
      properties:
        countries:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Unknown
              - USA
              - AFG
              - ALB
              - DZA
              - AND
              - AGO
              - ATG
              - AZE
              - ARG
              - AUS
              - AUT
              - BHS
              - BHR
              - BGD
              - ARM
              - BRB
              - BEL
              - BMU
              - BTN
              - BOL
              - BIH
              - BWA
              - BRA
              - BLZ
              - SLB
              - VGB
              - BRN
              - BGR
              - MMR
              - BLR
              - KHM
              - CMR
              - CAN
              - CPV
              - CYM
              - LKA
              - TCD
              - CHL
              - CHN
              - TWN
              - COL
              - COM
              - MYT
              - COG
              - COD
              - COK
              - CRI
              - HRV
              - CUB
              - CYP
              - CZE
              - BEN
              - DNK
              - DMA
              - DOM
              - ECU
              - SLV
              - GNQ
              - ETH
              - ERI
              - EST
              - FRO
              - FJI
              - FIN
              - FRA
              - GUF
              - PYF
              - DJI
              - GEO
              - GMB
              - PSE
              - DEU
              - GHA
              - GIB
              - GRC
              - GRD
              - GLP
              - GUM
              - GTM
              - GIN
              - GUY
              - VAT
              - HND
              - HKG
              - HUN
              - ISL
              - IND
              - IDN
              - IRQ
              - IRL
              - ISR
              - ITA
              - CIV
              - JAM
              - JPN
              - KAZ
              - JOR
              - KEN
              - KOR
              - KWT
              - KGZ
              - LAO
              - LBN
              - LSO
              - LVA
              - LBR
              - LIE
              - LTU
              - LUX
              - MAC
              - MDG
              - MWI
              - MYS
              - MDV
              - MLT
              - MTQ
              - MRT
              - MUS
              - MEX
              - MCO
              - MNG
              - MDA
              - MNE
              - MSR
              - MAR
              - MOZ
              - OMN
              - NAM
              - NPL
              - NLD
              - CUW
              - ABW
              - SXM
              - BES
              - NCL
              - VUT
              - NZL
              - NIC
              - NGA
              - NOR
              - PLW
              - PAK
              - PAN
              - PNG
              - PRY
              - PER
              - PHL
              - POL
              - PRT
              - PRI
              - QAT
              - REU
              - ROU
              - RUS
              - RWA
              - KNA
              - AIA
              - LCA
              - VCT
              - SMR
              - SAU
              - SEN
              - SRB
              - SYC
              - SLE
              - SGP
              - SVK
              - VNM
              - SVN
              - SOM
              - ZAF
              - ZWE
              - ESP
              - SUR
              - SWZ
              - SWE
              - CHE
              - TJK
              - THA
              - TGO
              - TTO
              - ARE
              - TUN
              - TUR
              - TCA
              - UGA
              - UKR
              - MKD
              - EGY
              - GBR
              - GGY
              - JEY
              - IMN
              - TZA
              - VIR
              - BFA
              - ASM
              - BDI
              - CAF
              - SGS
              - GAB
              - KIR
              - GRL
              - HTI
              - LBY
              - MLI
              - NRU
              - ANT
              - NER
              - MNP
              - UMI
              - FSM
              - GNB
              - TLS
              - BLM
              - STP
              - SSD
              - TON
              - TKM
              - URY
              - UZB
              - VEN
              - WSM
              - YEM
              - ZMB
              - ATA
              - BVT
              - CXR
              - CCK
              - FLK
              - ALA
              - ATF
              - HMD
              - IRN
              - PRK
              - NIU
              - NFK
              - MHL
              - PCN
              - SHN
              - MAF
              - SPM
              - SDN
              - ESH
              - SJM
              - SYR
              - TKL
              - TUV
              - WLF
              - IOT
              - ROM
              - ZAR
              - TMP
              - QZZ
        overridden:
          type: boolean
    CurrencyList:
      type: object
      properties:
        currencies:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Unknown
              - USD
              - AFN
              - DZD
              - ARS
              - AMD
              - AWG
              - AUD
              - AZN
              - BSD
              - BHD
              - THB
              - PAB
              - BBD
              - BYR
              - BZD
              - BMD
              - VEF
              - BOB
              - BRL
              - BND
              - BGN
              - BIF
              - CAD
              - CVE
              - KYD
              - XOF
              - XAF
              - XPF
              - CLP
              - COP
              - KMF
              - BAM
              - NIO
              - CRC
              - HRK
              - CUP
              - CZK
              - GMD
              - DKK
              - MKD
              - DJF
              - STD
              - DOP
              - VND
              - XCD
              - EGP
              - SVC
              - ETB
              - EUR
              - FKP
              - FJD
              - HUF
              - CDF
              - GHS
              - GIP
              - HTG
              - PYG
              - GNF
              - GWP
              - GYD
              - HKD
              - UAH
              - ISK
              - INR
              - IRR
              - IQD
              - JMD
              - JOD
              - KES
              - PGK
              - LAK
              - KWD
              - MWK
              - ZMK
              - AOA
              - MMK
              - GEL
              - LVL
              - LBP
              - ALL
              - HNL
              - SLL
              - LRD
              - LYD
              - SZL
              - LTL
              - LSL
              - MGA
              - MYR
              - MUR
              - MZN
              - MXN
              - MXV
              - MDL
              - MAD
              - BOV
              - NGN
              - ERN
              - NAD
              - NPR
              - ANG
              - ILS
              - RON
              - TWD
              - TRY
              - NZD
              - BTN
              - KPW
              - NOK
              - PEN
              - MRO
              - TOP
              - PKR
              - MOP
              - UYU
              - PHP
              - GBP
              - BWP
              - QAR
              - GTQ
              - ZAR
              - OMR
              - KHR
              - MVR
              - IDR
              - RUB
              - RWF
              - SHP
              - SAR
              - XDR
              - RSD
              - SCR
              - SGD
              - SBD
              - KGS
              - SOS
              - TJS
              - LKR
              - SDG
              - SRD
              - SEK
              - CHF
              - SYP
              - BDT
              - WST
              - TZS
              - KZT
              - TTD
              - MNT
              - TND
              - AED
              - UGX
              - COU
              - CLF
              - UYI
              - USN
              - USS
              - UZS
              - VUV
              - CHE
              - CHW
              - KRW
              - YER
              - JPY
              - CNY
              - PLN
              - XBA
              - XTS
              - XBB
              - XBD
              - XBC
              - XAU
              - XPD
              - XPT
              - XAG
              - XXX
              - XFU
              - TMT
              - ZWL
              - CUC
              - SSP
              - XUA
              - XSU
              - BYN
              - VES
              - ZMW
              - MRU
              - STN
              - SLE
              - BRC
              - ARX
    CurrencyListWithOverride:
      type: object
      properties:
        currencies:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Unknown
              - USD
              - AFN
              - DZD
              - ARS
              - AMD
              - AWG
              - AUD
              - AZN
              - BSD
              - BHD
              - THB
              - PAB
              - BBD
              - BYR
              - BZD
              - BMD
              - VEF
              - BOB
              - BRL
              - BND
              - BGN
              - BIF
              - CAD
              - CVE
              - KYD
              - XOF
              - XAF
              - XPF
              - CLP
              - COP
              - KMF
              - BAM
              - NIO
              - CRC
              - HRK
              - CUP
              - CZK
              - GMD
              - DKK
              - MKD
              - DJF
              - STD
              - DOP
              - VND
              - XCD
              - EGP
              - SVC
              - ETB
              - EUR
              - FKP
              - FJD
              - HUF
              - CDF
              - GHS
              - GIP
              - HTG
              - PYG
              - GNF
              - GWP
              - GYD
              - HKD
              - UAH
              - ISK
              - INR
              - IRR
              - IQD
              - JMD
              - JOD
              - KES
              - PGK
              - LAK
              - KWD
              - MWK
              - ZMK
              - AOA
              - MMK
              - GEL
              - LVL
              - LBP
              - ALL
              - HNL
              - SLL
              - LRD
              - LYD
              - SZL
              - LTL
              - LSL
              - MGA
              - MYR
              - MUR
              - MZN
              - MXN
              - MXV
              - MDL
              - MAD
              - BOV
              - NGN
              - ERN
              - NAD
              - NPR
              - ANG
              - ILS
              - RON
              - TWD
              - TRY
              - NZD
              - BTN
              - KPW
              - NOK
              - PEN
              - MRO
              - TOP
              - PKR
              - MOP
              - UYU
              - PHP
              - GBP
              - BWP
              - QAR
              - GTQ
              - ZAR
              - OMR
              - KHR
              - MVR
              - IDR
              - RUB
              - RWF
              - SHP
              - SAR
              - XDR
              - RSD
              - SCR
              - SGD
              - SBD
              - KGS
              - SOS
              - TJS
              - LKR
              - SDG
              - SRD
              - SEK
              - CHF
              - SYP
              - BDT
              - WST
              - TZS
              - KZT
              - TTD
              - MNT
              - TND
              - AED
              - UGX
              - COU
              - CLF
              - UYI
              - USN
              - USS
              - UZS
              - VUV
              - CHE
              - CHW
              - KRW
              - YER
              - JPY
              - CNY
              - PLN
              - XBA
              - XTS
              - XBB
              - XBD
              - XBC
              - XAU
              - XPD
              - XPT
              - XAG
              - XXX
              - XFU
              - TMT
              - ZWL
              - CUC
              - SSP
              - XUA
              - XSU
              - BYN
              - VES
              - ZMW
              - MRU
              - STN
              - SLE
              - BRC
              - ARX
        overridden:
          type: boolean
    EmptyNode:
      type: object
      allOf:
        - $ref: '#/components/schemas/Node'
    Location:
      type: object
      allOf:
        - $ref: '#/components/schemas/Node'
        - type: object
          properties:
            city:
              type: string
            state:
              type: string
            country:
              type: string
              enum:
                - Unknown
                - USA
                - AFG
                - ALB
                - DZA
                - AND
                - AGO
                - ATG
                - AZE
                - ARG
                - AUS
                - AUT
                - BHS
                - BHR
                - BGD
                - ARM
                - BRB
                - BEL
                - BMU
                - BTN
                - BOL
                - BIH
                - BWA
                - BRA
                - BLZ
                - SLB
                - VGB
                - BRN
                - BGR
                - MMR
                - BLR
                - KHM
                - CMR
                - CAN
                - CPV
                - CYM
                - LKA
                - TCD
                - CHL
                - CHN
                - TWN
                - COL
                - COM
                - MYT
                - COG
                - COD
                - COK
                - CRI
                - HRV
                - CUB
                - CYP
                - CZE
                - BEN
                - DNK
                - DMA
                - DOM
                - ECU
                - SLV
                - GNQ
                - ETH
                - ERI
                - EST
                - FRO
                - FJI
                - FIN
                - FRA
                - GUF
                - PYF
                - DJI
                - GEO
                - GMB
                - PSE
                - DEU
                - GHA
                - GIB
                - GRC
                - GRD
                - GLP
                - GUM
                - GTM
                - GIN
                - GUY
                - VAT
                - HND
                - HKG
                - HUN
                - ISL
                - IND
                - IDN
                - IRQ
                - IRL
                - ISR
                - ITA
                - CIV
                - JAM
                - JPN
                - KAZ
                - JOR
                - KEN
                - KOR
                - KWT
                - KGZ
                - LAO
                - LBN
                - LSO
                - LVA
                - LBR
                - LIE
                - LTU
                - LUX
                - MAC
                - MDG
                - MWI
                - MYS
                - MDV
                - MLT
                - MTQ
                - MRT
                - MUS
                - MEX
                - MCO
                - MNG
                - MDA
                - MNE
                - MSR
                - MAR
                - MOZ
                - OMN
                - NAM
                - NPL
                - NLD
                - CUW
                - ABW
                - SXM
                - BES
                - NCL
                - VUT
                - NZL
                - NIC
                - NGA
                - NOR
                - PLW
                - PAK
                - PAN
                - PNG
                - PRY
                - PER
                - PHL
                - POL
                - PRT
                - PRI
                - QAT
                - REU
                - ROU
                - RUS
                - RWA
                - KNA
                - AIA
                - LCA
                - VCT
                - SMR
                - SAU
                - SEN
                - SRB
                - SYC
                - SLE
                - SGP
                - SVK
                - VNM
                - SVN
                - SOM
                - ZAF
                - ZWE
                - ESP
                - SUR
                - SWZ
                - SWE
                - CHE
                - TJK
                - THA
                - TGO
                - TTO
                - ARE
                - TUN
                - TUR
                - TCA
                - UGA
                - UKR
                - MKD
                - EGY
                - GBR
                - GGY
                - JEY
                - IMN
                - TZA
                - VIR
                - BFA
                - ASM
                - BDI
                - CAF
                - SGS
                - GAB
                - KIR
                - GRL
                - HTI
                - LBY
                - MLI
                - NRU
                - ANT
                - NER
                - MNP
                - UMI
                - FSM
                - GNB
                - TLS
                - BLM
                - STP
                - SSD
                - TON
                - TKM
                - URY
                - UZB
                - VEN
                - WSM
                - YEM
                - ZMB
                - ATA
                - BVT
                - CXR
                - CCK
                - FLK
                - ALA
                - ATF
                - HMD
                - IRN
                - PRK
                - NIU
                - NFK
                - MHL
                - PCN
                - SHN
                - MAF
                - SPM
                - SDN
                - ESH
                - SJM
                - SYR
                - TKL
                - TUV
                - WLF
                - IOT
                - ROM
                - ZAR
                - TMP
                - QZZ
            mcc:
              type: string
            sourceCurrencies:
              $ref: '#/components/schemas/CurrencyList'
            mcpRateType:
              type: string
              enum:
                - DefaultRate
                - ExceptionRate
                - CardBrandRate
                - LegacyRate
            clientCrossRefID1:
              type: string
            streetAddress:
              type: string
            postalCode:
              type: string
            timeZone:
              type: string
    MarginBoundsWithOverride:
      type: object
      properties:
        min:
          type: number
          format: double
        max:
          type: number
          format: double
        overridden:
          type: boolean
    MarginInfo:
      type: object
      properties:
        servicer:
          type: number
          format: double
        agent:
          type: number
          format: double
        subClient:
          type: number
          format: double
        location:
          type: number
          format: double
    MarginSetupEntry:
      type: object
      properties:
        scheme:
          type: string
          enum:
            - Visa
            - Mastercard
        sourceCurrency:
          type: string
          enum:
            - Unknown
            - USD
            - AFN
            - DZD
            - ARS
            - AMD
            - AWG
            - AUD
            - AZN
            - BSD
            - BHD
            - THB
            - PAB
            - BBD
            - BYR
            - BZD
            - BMD
            - VEF
            - BOB
            - BRL
            - BND
            - BGN
            - BIF
            - CAD
            - CVE
            - KYD
            - XOF
            - XAF
            - XPF
            - CLP
            - COP
            - KMF
            - BAM
            - NIO
            - CRC
            - HRK
            - CUP
            - CZK
            - GMD
            - DKK
            - MKD
            - DJF
            - STD
            - DOP
            - VND
            - XCD
            - EGP
            - SVC
            - ETB
            - EUR
            - FKP
            - FJD
            - HUF
            - CDF
            - GHS
            - GIP
            - HTG
            - PYG
            - GNF
            - GWP
            - GYD
            - HKD
            - UAH
            - ISK
            - INR
            - IRR
            - IQD
            - JMD
            - JOD
            - KES
            - PGK
            - LAK
            - KWD
            - MWK
            - ZMK
            - AOA
            - MMK
            - GEL
            - LVL
            - LBP
            - ALL
            - HNL
            - SLL
            - LRD
            - LYD
            - SZL
            - LTL
            - LSL
            - MGA
            - MYR
            - MUR
            - MZN
            - MXN
            - MXV
            - MDL
            - MAD
            - BOV
            - NGN
            - ERN
            - NAD
            - NPR
            - ANG
            - ILS
            - RON
            - TWD
            - TRY
            - NZD
            - BTN
            - KPW
            - NOK
            - PEN
            - MRO
            - TOP
            - PKR
            - MOP
            - UYU
            - PHP
            - GBP
            - BWP
            - QAR
            - GTQ
            - ZAR
            - OMR
            - KHR
            - MVR
            - IDR
            - RUB
            - RWF
            - SHP
            - SAR
            - XDR
            - RSD
            - SCR
            - SGD
            - SBD
            - KGS
            - SOS
            - TJS
            - LKR
            - SDG
            - SRD
            - SEK
            - CHF
            - SYP
            - BDT
            - WST
            - TZS
            - KZT
            - TTD
            - MNT
            - TND
            - AED
            - UGX
            - COU
            - CLF
            - UYI
            - USN
            - USS
            - UZS
            - VUV
            - CHE
            - CHW
            - KRW
            - YER
            - JPY
            - CNY
            - PLN
            - XBA
            - XTS
            - XBB
            - XBD
            - XBC
            - XAU
            - XPD
            - XPT
            - XAG
            - XXX
            - XFU
            - TMT
            - ZWL
            - CUC
            - SSP
            - XUA
            - XSU
            - BYN
            - VES
            - ZMW
            - MRU
            - STN
            - SLE
            - BRC
            - ARX
        targetCurrency:
          type: string
          enum:
            - Unknown
            - USD
            - AFN
            - DZD
            - ARS
            - AMD
            - AWG
            - AUD
            - AZN
            - BSD
            - BHD
            - THB
            - PAB
            - BBD
            - BYR
            - BZD
            - BMD
            - VEF
            - BOB
            - BRL
            - BND
            - BGN
            - BIF
            - CAD
            - CVE
            - KYD
            - XOF
            - XAF
            - XPF
            - CLP
            - COP
            - KMF
            - BAM
            - NIO
            - CRC
            - HRK
            - CUP
            - CZK
            - GMD
            - DKK
            - MKD
            - DJF
            - STD
            - DOP
            - VND
            - XCD
            - EGP
            - SVC
            - ETB
            - EUR
            - FKP
            - FJD
            - HUF
            - CDF
            - GHS
            - GIP
            - HTG
            - PYG
            - GNF
            - GWP
            - GYD
            - HKD
            - UAH
            - ISK
            - INR
            - IRR
            - IQD
            - JMD
            - JOD
            - KES
            - PGK
            - LAK
            - KWD
            - MWK
            - ZMK
            - AOA
            - MMK
            - GEL
            - LVL
            - LBP
            - ALL
            - HNL
            - SLL
            - LRD
            - LYD
            - SZL
            - LTL
            - LSL
            - MGA
            - MYR
            - MUR
            - MZN
            - MXN
            - MXV
            - MDL
            - MAD
            - BOV
            - NGN
            - ERN
            - NAD
            - NPR
            - ANG
            - ILS
            - RON
            - TWD
            - TRY
            - NZD
            - BTN
            - KPW
            - NOK
            - PEN
            - MRO
            - TOP
            - PKR
            - MOP
            - UYU
            - PHP
            - GBP
            - BWP
            - QAR
            - GTQ
            - ZAR
            - OMR
            - KHR
            - MVR
            - IDR
            - RUB
            - RWF
            - SHP
            - SAR
            - XDR
            - RSD
            - SCR
            - SGD
            - SBD
            - KGS
            - SOS
            - TJS
            - LKR
            - SDG
            - SRD
            - SEK
            - CHF
            - SYP
            - BDT
            - WST
            - TZS
            - KZT
            - TTD
            - MNT
            - TND
            - AED
            - UGX
            - COU
            - CLF
            - UYI
            - USN
            - USS
            - UZS
            - VUV
            - CHE
            - CHW
            - KRW
            - YER
            - JPY
            - CNY
            - PLN
            - XBA
            - XTS
            - XBB
            - XBD
            - XBC
            - XAU
            - XPD
            - XPT
            - XAG
            - XXX
            - XFU
            - TMT
            - ZWL
            - CUC
            - SSP
            - XUA
            - XSU
            - BYN
            - VES
            - ZMW
            - MRU
            - STN
            - SLE
            - BRC
            - ARX
        delayDays:
          type: integer
          format: int32
        marginInfo:
          $ref: '#/components/schemas/MarginInfo'
    MarginSetupWithOverride:
      type: object
      properties:
        marginEntries:
          type: array
          items:
            $ref: '#/components/schemas/MarginSetupEntry'
        overridden:
          type: boolean
      description: MCP information for the Location. If location does not process DCC Spot - this must not be populated
    Node:
      type: object
      properties:
        nodeType:
          type: string
          enum:
            - Root
            - Enterprise
            - Servicer
            - Agent
            - SubClient
            - Location
        id:
          type: string
        parentID:
          type: string
        name:
          type: string
        createTimestamp:
          type: integer
          format: int64
        crossRefID1:
          type: string
        crossRefID2:
          type: string
        childNodeList:
          type: array
          items:
            $ref: '#/components/schemas/BaseNode'
        mcp:
          type: boolean
        dcc:
          type: boolean
        dcp:
          type: boolean
        dcs:
          type: boolean
        dpt:
          type: boolean
        dpp:
          type: boolean
      discriminator:
        propertyName: nodeType
    NodeDetail:
      type: object
      properties:
        node:
          $ref: '#/components/schemas/Node'
        countries:
          $ref: '#/components/schemas/CountryListWithOverride'
        exclusionCurrencies:
          $ref: '#/components/schemas/CurrencyListWithOverride'
        sourceCurrencies:
          $ref: '#/components/schemas/CurrencyListWithOverride'
        targetCurrencies:
          $ref: '#/components/schemas/CurrencyListWithOverride'
        mcpTargetCurrencies:
          $ref: '#/components/schemas/CurrencyListWithOverride'
        setupDCC:
          $ref: '#/components/schemas/PricingStrategySetup'
        setupMCP:
          $ref: '#/components/schemas/PricingStrategySetup'
        setupDCP:
          $ref: '#/components/schemas/PricingStrategySetup'
        setupDCS:
          $ref: '#/components/schemas/PricingStrategySetup'
        setupDPT:
          $ref: '#/components/schemas/PricingStrategySetup'
        setupDPP:
          $ref: '#/components/schemas/PricingStrategySetup'
        rateProviders:
          $ref: '#/components/schemas/RateProviderListWithOverride'
        availableRateProviders:
          $ref: '#/components/schemas/RateProviderListWithOverride'
        availableSourceCurrencies:
          $ref: '#/components/schemas/CurrencyListWithOverride'
        availableTargetCurrencies:
          $ref: '#/components/schemas/CurrencyListWithOverride'
        availableCountries:
          $ref: '#/components/schemas/CountryListWithOverride'
        billingSetup:
          $ref: '#/components/schemas/BillingSetupWithOverride'
        servicerBaseInfo:
          $ref: '#/components/schemas/ServicerBaseInfo'
        dccServicerPlatforms:
          type: array
          items:
            $ref: '#/components/schemas/FxDccPlatformIdentifier'
    OpenFXPageNodeDetail:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/NodeDetail'
        number:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        last:
          type: boolean
        totalPages:
          type: integer
          format: int32
        first:
          type: boolean
        numberOfElements:
          type: integer
          format: int32
        empty:
          type: boolean
    PricingStrategySetup:
      type: object
      properties:
        marginBounds:
          $ref: '#/components/schemas/MarginBoundsWithOverride'
        marginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        providerSetup:
          $ref: '#/components/schemas/RateProviderSetupWithOverride'
    RateProviderListWithOverride:
      type: object
      properties:
        rateProviders:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Visa
              - Mastercard
              - Oanda
              - Azul
              - GlobalBlue
              - LBG
              - PlanetPayment
              - PlanetPayment_Visa
              - PlanetPayment_Mastercard
              - BanaBTC
              - ECB
              - ButterField
              - Fexco
              - FCIB
              - NatWest_E2E_FDEL
              - NatWest_NE2E_FDEL
              - NatWest_E2E_FDGMBH
              - NatWest_NE2E_FDGMBH
              - GMA_Visa
              - GMA_Mastercard
        overridden:
          type: boolean
    RateProviderSetupEntry:
      type: object
      properties:
        scheme:
          type: string
          enum:
            - Visa
            - Mastercard
        sourceCurrency:
          type: string
          enum:
            - Unknown
            - USD
            - AFN
            - DZD
            - ARS
            - AMD
            - AWG
            - AUD
            - AZN
            - BSD
            - BHD
            - THB
            - PAB
            - BBD
            - BYR
            - BZD
            - BMD
            - VEF
            - BOB
            - BRL
            - BND
            - BGN
            - BIF
            - CAD
            - CVE
            - KYD
            - XOF
            - XAF
            - XPF
            - CLP
            - COP
            - KMF
            - BAM
            - NIO
            - CRC
            - HRK
            - CUP
            - CZK
            - GMD
            - DKK
            - MKD
            - DJF
            - STD
            - DOP
            - VND
            - XCD
            - EGP
            - SVC
            - ETB
            - EUR
            - FKP
            - FJD
            - HUF
            - CDF
            - GHS
            - GIP
            - HTG
            - PYG
            - GNF
            - GWP
            - GYD
            - HKD
            - UAH
            - ISK
            - INR
            - IRR
            - IQD
            - JMD
            - JOD
            - KES
            - PGK
            - LAK
            - KWD
            - MWK
            - ZMK
            - AOA
            - MMK
            - GEL
            - LVL
            - LBP
            - ALL
            - HNL
            - SLL
            - LRD
            - LYD
            - SZL
            - LTL
            - LSL
            - MGA
            - MYR
            - MUR
            - MZN
            - MXN
            - MXV
            - MDL
            - MAD
            - BOV
            - NGN
            - ERN
            - NAD
            - NPR
            - ANG
            - ILS
            - RON
            - TWD
            - TRY
            - NZD
            - BTN
            - KPW
            - NOK
            - PEN
            - MRO
            - TOP
            - PKR
            - MOP
            - UYU
            - PHP
            - GBP
            - BWP
            - QAR
            - GTQ
            - ZAR
            - OMR
            - KHR
            - MVR
            - IDR
            - RUB
            - RWF
            - SHP
            - SAR
            - XDR
            - RSD
            - SCR
            - SGD
            - SBD
            - KGS
            - SOS
            - TJS
            - LKR
            - SDG
            - SRD
            - SEK
            - CHF
            - SYP
            - BDT
            - WST
            - TZS
            - KZT
            - TTD
            - MNT
            - TND
            - AED
            - UGX
            - COU
            - CLF
            - UYI
            - USN
            - USS
            - UZS
            - VUV
            - CHE
            - CHW
            - KRW
            - YER
            - JPY
            - CNY
            - PLN
            - XBA
            - XTS
            - XBB
            - XBD
            - XBC
            - XAU
            - XPD
            - XPT
            - XAG
            - XXX
            - XFU
            - TMT
            - ZWL
            - CUC
            - SSP
            - XUA
            - XSU
            - BYN
            - VES
            - ZMW
            - MRU
            - STN
            - SLE
            - BRC
            - ARX
        targetCurrency:
          type: string
          enum:
            - Unknown
            - USD
            - AFN
            - DZD
            - ARS
            - AMD
            - AWG
            - AUD
            - AZN
            - BSD
            - BHD
            - THB
            - PAB
            - BBD
            - BYR
            - BZD
            - BMD
            - VEF
            - BOB
            - BRL
            - BND
            - BGN
            - BIF
            - CAD
            - CVE
            - KYD
            - XOF
            - XAF
            - XPF
            - CLP
            - COP
            - KMF
            - BAM
            - NIO
            - CRC
            - HRK
            - CUP
            - CZK
            - GMD
            - DKK
            - MKD
            - DJF
            - STD
            - DOP
            - VND
            - XCD
            - EGP
            - SVC
            - ETB
            - EUR
            - FKP
            - FJD
            - HUF
            - CDF
            - GHS
            - GIP
            - HTG
            - PYG
            - GNF
            - GWP
            - GYD
            - HKD
            - UAH
            - ISK
            - INR
            - IRR
            - IQD
            - JMD
            - JOD
            - KES
            - PGK
            - LAK
            - KWD
            - MWK
            - ZMK
            - AOA
            - MMK
            - GEL
            - LVL
            - LBP
            - ALL
            - HNL
            - SLL
            - LRD
            - LYD
            - SZL
            - LTL
            - LSL
            - MGA
            - MYR
            - MUR
            - MZN
            - MXN
            - MXV
            - MDL
            - MAD
            - BOV
            - NGN
            - ERN
            - NAD
            - NPR
            - ANG
            - ILS
            - RON
            - TWD
            - TRY
            - NZD
            - BTN
            - KPW
            - NOK
            - PEN
            - MRO
            - TOP
            - PKR
            - MOP
            - UYU
            - PHP
            - GBP
            - BWP
            - QAR
            - GTQ
            - ZAR
            - OMR
            - KHR
            - MVR
            - IDR
            - RUB
            - RWF
            - SHP
            - SAR
            - XDR
            - RSD
            - SCR
            - SGD
            - SBD
            - KGS
            - SOS
            - TJS
            - LKR
            - SDG
            - SRD
            - SEK
            - CHF
            - SYP
            - BDT
            - WST
            - TZS
            - KZT
            - TTD
            - MNT
            - TND
            - AED
            - UGX
            - COU
            - CLF
            - UYI
            - USN
            - USS
            - UZS
            - VUV
            - CHE
            - CHW
            - KRW
            - YER
            - JPY
            - CNY
            - PLN
            - XBA
            - XTS
            - XBB
            - XBD
            - XBC
            - XAU
            - XPD
            - XPT
            - XAG
            - XXX
            - XFU
            - TMT
            - ZWL
            - CUC
            - SSP
            - XUA
            - XSU
            - BYN
            - VES
            - ZMW
            - MRU
            - STN
            - SLE
            - BRC
            - ARX
        delayDays:
          type: integer
          format: int32
        strategy:
          type: string
          enum:
            - Min
            - Max
            - PriorityOrderMin
            - PriorityOrderMax
        rateProviders:
          type: array
          items:
            type: string
            enum:
              - Visa
              - Mastercard
              - Oanda
              - Azul
              - GlobalBlue
              - LBG
              - PlanetPayment
              - PlanetPayment_Visa
              - PlanetPayment_Mastercard
              - BanaBTC
              - ECB
              - ButterField
              - Fexco
              - FCIB
              - NatWest_E2E_FDEL
              - NatWest_NE2E_FDEL
              - NatWest_E2E_FDGMBH
              - NatWest_NE2E_FDGMBH
              - GMA_Visa
              - GMA_Mastercard
    RateProviderSetupWithOverride:
      type: object
      properties:
        providerEntries:
          type: array
          items:
            $ref: '#/components/schemas/RateProviderSetupEntry'
        overridden:
          type: boolean
    Servicer:
      type: object
      allOf:
        - $ref: '#/components/schemas/Node'
        - type: object
          properties:
            visaServicerBins:
              uniqueItems: true
              type: array
              items:
                type: string
            mastercardServicerBins:
              uniqueItems: true
              type: array
              items:
                type: string
            servicerBaseInfo:
              $ref: '#/components/schemas/ServicerBaseInfo'
            dccServicerPlatforms:
              type: array
              items:
                $ref: '#/components/schemas/FxDccPlatformIdentifier'
    ServicerBaseInfo:
      type: object
      properties:
        cprCommissionCurrencyCode:
          type: string
          enum:
            - Unknown
            - USD
            - AFN
            - DZD
            - ARS
            - AMD
            - AWG
            - AUD
            - AZN
            - BSD
            - BHD
            - THB
            - PAB
            - BBD
            - BYR
            - BZD
            - BMD
            - VEF
            - BOB
            - BRL
            - BND
            - BGN
            - BIF
            - CAD
            - CVE
            - KYD
            - XOF
            - XAF
            - XPF
            - CLP
            - COP
            - KMF
            - BAM
            - NIO
            - CRC
            - HRK
            - CUP
            - CZK
            - GMD
            - DKK
            - MKD
            - DJF
            - STD
            - DOP
            - VND
            - XCD
            - EGP
            - SVC
            - ETB
            - EUR
            - FKP
            - FJD
            - HUF
            - CDF
            - GHS
            - GIP
            - HTG
            - PYG
            - GNF
            - GWP
            - GYD
            - HKD
            - UAH
            - ISK
            - INR
            - IRR
            - IQD
            - JMD
            - JOD
            - KES
            - PGK
            - LAK
            - KWD
            - MWK
            - ZMK
            - AOA
            - MMK
            - GEL
            - LVL
            - LBP
            - ALL
            - HNL
            - SLL
            - LRD
            - LYD
            - SZL
            - LTL
            - LSL
            - MGA
            - MYR
            - MUR
            - MZN
            - MXN
            - MXV
            - MDL
            - MAD
            - BOV
            - NGN
            - ERN
            - NAD
            - NPR
            - ANG
            - ILS
            - RON
            - TWD
            - TRY
            - NZD
            - BTN
            - KPW
            - NOK
            - PEN
            - MRO
            - TOP
            - PKR
            - MOP
            - UYU
            - PHP
            - GBP
            - BWP
            - QAR
            - GTQ
            - ZAR
            - OMR
            - KHR
            - MVR
            - IDR
            - RUB
            - RWF
            - SHP
            - SAR
            - XDR
            - RSD
            - SCR
            - SGD
            - SBD
            - KGS
            - SOS
            - TJS
            - LKR
            - SDG
            - SRD
            - SEK
            - CHF
            - SYP
            - BDT
            - WST
            - TZS
            - KZT
            - TTD
            - MNT
            - TND
            - AED
            - UGX
            - COU
            - CLF
            - UYI
            - USN
            - USS
            - UZS
            - VUV
            - CHE
            - CHW
            - KRW
            - YER
            - JPY
            - CNY
            - PLN
            - XBA
            - XTS
            - XBB
            - XBD
            - XBC
            - XAU
            - XPD
            - XPT
            - XAG
            - XXX
            - XFU
            - TMT
            - ZWL
            - CUC
            - SSP
            - XUA
            - XSU
            - BYN
            - VES
            - ZMW
            - MRU
            - STN
            - SLE
            - BRC
            - ARX
        marginToEnterprise:
          type: number
          format: double
    SubClient:
      type: object
      allOf:
        - $ref: '#/components/schemas/Node'
        - type: object
          properties:
            locations:
              $ref: '#/components/schemas/OpenFXPageNodeDetail'
    BinSetup:
      type: object
      properties:
        binID:
          type: string
        exclude:
          type: boolean
    RateProviderSetup:
      type: object
      properties:
        providerEntries:
          type: array
          items:
            $ref: '#/components/schemas/RateProviderSetupEntry'
    RateProviderList:
      type: object
      properties:
        rateProviders:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Visa
              - Mastercard
              - Oanda
              - Azul
              - GlobalBlue
              - LBG
              - PlanetPayment
              - PlanetPayment_Visa
              - PlanetPayment_Mastercard
              - BanaBTC
              - ECB
              - ButterField
              - Fexco
              - FCIB
              - NatWest_E2E_FDEL
              - NatWest_NE2E_FDEL
              - NatWest_E2E_FDGMBH
              - NatWest_NE2E_FDGMBH
              - GMA_Visa
              - GMA_Mastercard
    MarginSetup:
      type: object
      properties:
        marginEntries:
          type: array
          items:
            $ref: '#/components/schemas/MarginSetupEntry'
    MarginBounds:
      type: object
      properties:
        min:
          type: number
          format: double
        max:
          type: number
          format: double
    CountryList:
      type: object
      properties:
        countries:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Unknown
              - USA
              - AFG
              - ALB
              - DZA
              - AND
              - AGO
              - ATG
              - AZE
              - ARG
              - AUS
              - AUT
              - BHS
              - BHR
              - BGD
              - ARM
              - BRB
              - BEL
              - BMU
              - BTN
              - BOL
              - BIH
              - BWA
              - BRA
              - BLZ
              - SLB
              - VGB
              - BRN
              - BGR
              - MMR
              - BLR
              - KHM
              - CMR
              - CAN
              - CPV
              - CYM
              - LKA
              - TCD
              - CHL
              - CHN
              - TWN
              - COL
              - COM
              - MYT
              - COG
              - COD
              - COK
              - CRI
              - HRV
              - CUB
              - CYP
              - CZE
              - BEN
              - DNK
              - DMA
              - DOM
              - ECU
              - SLV
              - GNQ
              - ETH
              - ERI
              - EST
              - FRO
              - FJI
              - FIN
              - FRA
              - GUF
              - PYF
              - DJI
              - GEO
              - GMB
              - PSE
              - DEU
              - GHA
              - GIB
              - GRC
              - GRD
              - GLP
              - GUM
              - GTM
              - GIN
              - GUY
              - VAT
              - HND
              - HKG
              - HUN
              - ISL
              - IND
              - IDN
              - IRQ
              - IRL
              - ISR
              - ITA
              - CIV
              - JAM
              - JPN
              - KAZ
              - JOR
              - KEN
              - KOR
              - KWT
              - KGZ
              - LAO
              - LBN
              - LSO
              - LVA
              - LBR
              - LIE
              - LTU
              - LUX
              - MAC
              - MDG
              - MWI
              - MYS
              - MDV
              - MLT
              - MTQ
              - MRT
              - MUS
              - MEX
              - MCO
              - MNG
              - MDA
              - MNE
              - MSR
              - MAR
              - MOZ
              - OMN
              - NAM
              - NPL
              - NLD
              - CUW
              - ABW
              - SXM
              - BES
              - NCL
              - VUT
              - NZL
              - NIC
              - NGA
              - NOR
              - PLW
              - PAK
              - PAN
              - PNG
              - PRY
              - PER
              - PHL
              - POL
              - PRT
              - PRI
              - QAT
              - REU
              - ROU
              - RUS
              - RWA
              - KNA
              - AIA
              - LCA
              - VCT
              - SMR
              - SAU
              - SEN
              - SRB
              - SYC
              - SLE
              - SGP
              - SVK
              - VNM
              - SVN
              - SOM
              - ZAF
              - ZWE
              - ESP
              - SUR
              - SWZ
              - SWE
              - CHE
              - TJK
              - THA
              - TGO
              - TTO
              - ARE
              - TUN
              - TUR
              - TCA
              - UGA
              - UKR
              - MKD
              - EGY
              - GBR
              - GGY
              - JEY
              - IMN
              - TZA
              - VIR
              - BFA
              - ASM
              - BDI
              - CAF
              - SGS
              - GAB
              - KIR
              - GRL
              - HTI
              - LBY
              - MLI
              - NRU
              - ANT
              - NER
              - MNP
              - UMI
              - FSM
              - GNB
              - TLS
              - BLM
              - STP
              - SSD
              - TON
              - TKM
              - URY
              - UZB
              - VEN
              - WSM
              - YEM
              - ZMB
              - ATA
              - BVT
              - CXR
              - CCK
              - FLK
              - ALA
              - ATF
              - HMD
              - IRN
              - PRK
              - NIU
              - NFK
              - MHL
              - PCN
              - SHN
              - MAF
              - SPM
              - SDN
              - ESH
              - SJM
              - SYR
              - TKL
              - TUV
              - WLF
              - IOT
              - ROM
              - ZAR
              - TMP
              - QZZ
    NotificationRequest:
      type: object
      properties:
        notificationType:
          type: string
          enum:
            - REFRESH_CLIENT_CACHE
            - REFRESH_NODE_HIERARCHY_CACHE
    BulkLocationMoveRequest:
      type: object
      properties:
        locationNodeIds:
          type: array
          items:
            type: string
        subClientNodeId:
          type: string
        newSubClientNodeId:
          type: string
    BulkLocationDeleteRequest:
      type: object
      properties:
        subClientNodeId:
          type: string
        locationNodeIds:
          type: array
          items:
            type: string
    LocationQueueItemsRequest:
      type: object
      properties:
        status:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Pending
              - Rejected
              - Completed
        reason:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - MCPException
              - UnknownHierarchyID
              - UnknownServicer
              - NoAgentsFoundForServicer
              - MerchantOnboardedOutsideHierarchy
              - MerchantIneligibleForAutoboarding
              - ManualRequest
              - ProcessingError
        mcpRateType:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - DefaultRate
              - ExceptionRate
              - CardBrandRate
              - LegacyRate
        requester:
          type: string
        requestID:
          type: string
        channel:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - API
              - UI
              - Batch
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
    LocationQueueItem:
      type: object
      properties:
        requestID:
          type: string
        merchantId:
          type: string
        hierarchyId:
          type: string
        lineageNode:
          $ref: '#/components/schemas/BaseNode'
        location:
          $ref: '#/components/schemas/LocationRequest'
        requestTimestamp:
          type: integer
          format: int64
        requestChannel:
          type: string
          enum:
            - API
            - UI
            - Batch
        requestReason:
          type: string
          enum:
            - MCPException
            - UnknownHierarchyID
            - UnknownServicer
            - NoAgentsFoundForServicer
            - MerchantOnboardedOutsideHierarchy
            - MerchantIneligibleForAutoboarding
            - ManualRequest
            - ProcessingError
        requester:
          type: string
        status:
          type: string
          enum:
            - Pending
            - Rejected
            - Completed
        actionedBy:
          type: string
    LocationRequest:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        crossRefID1:
          type: string
        crossRefID2:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
          enum:
            - Unknown
            - USA
            - AFG
            - ALB
            - DZA
            - AND
            - AGO
            - ATG
            - AZE
            - ARG
            - AUS
            - AUT
            - BHS
            - BHR
            - BGD
            - ARM
            - BRB
            - BEL
            - BMU
            - BTN
            - BOL
            - BIH
            - BWA
            - BRA
            - BLZ
            - SLB
            - VGB
            - BRN
            - BGR
            - MMR
            - BLR
            - KHM
            - CMR
            - CAN
            - CPV
            - CYM
            - LKA
            - TCD
            - CHL
            - CHN
            - TWN
            - COL
            - COM
            - MYT
            - COG
            - COD
            - COK
            - CRI
            - HRV
            - CUB
            - CYP
            - CZE
            - BEN
            - DNK
            - DMA
            - DOM
            - ECU
            - SLV
            - GNQ
            - ETH
            - ERI
            - EST
            - FRO
            - FJI
            - FIN
            - FRA
            - GUF
            - PYF
            - DJI
            - GEO
            - GMB
            - PSE
            - DEU
            - GHA
            - GIB
            - GRC
            - GRD
            - GLP
            - GUM
            - GTM
            - GIN
            - GUY
            - VAT
            - HND
            - HKG
            - HUN
            - ISL
            - IND
            - IDN
            - IRQ
            - IRL
            - ISR
            - ITA
            - CIV
            - JAM
            - JPN
            - KAZ
            - JOR
            - KEN
            - KOR
            - KWT
            - KGZ
            - LAO
            - LBN
            - LSO
            - LVA
            - LBR
            - LIE
            - LTU
            - LUX
            - MAC
            - MDG
            - MWI
            - MYS
            - MDV
            - MLT
            - MTQ
            - MRT
            - MUS
            - MEX
            - MCO
            - MNG
            - MDA
            - MNE
            - MSR
            - MAR
            - MOZ
            - OMN
            - NAM
            - NPL
            - NLD
            - CUW
            - ABW
            - SXM
            - BES
            - NCL
            - VUT
            - NZL
            - NIC
            - NGA
            - NOR
            - PLW
            - PAK
            - PAN
            - PNG
            - PRY
            - PER
            - PHL
            - POL
            - PRT
            - PRI
            - QAT
            - REU
            - ROU
            - RUS
            - RWA
            - KNA
            - AIA
            - LCA
            - VCT
            - SMR
            - SAU
            - SEN
            - SRB
            - SYC
            - SLE
            - SGP
            - SVK
            - VNM
            - SVN
            - SOM
            - ZAF
            - ZWE
            - ESP
            - SUR
            - SWZ
            - SWE
            - CHE
            - TJK
            - THA
            - TGO
            - TTO
            - ARE
            - TUN
            - TUR
            - TCA
            - UGA
            - UKR
            - MKD
            - EGY
            - GBR
            - GGY
            - JEY
            - IMN
            - TZA
            - VIR
            - BFA
            - ASM
            - BDI
            - CAF
            - SGS
            - GAB
            - KIR
            - GRL
            - HTI
            - LBY
            - MLI
            - NRU
            - ANT
            - NER
            - MNP
            - UMI
            - FSM
            - GNB
            - TLS
            - BLM
            - STP
            - SSD
            - TON
            - TKM
            - URY
            - UZB
            - VEN
            - WSM
            - YEM
            - ZMB
            - ATA
            - BVT
            - CXR
            - CCK
            - FLK
            - ALA
            - ATF
            - HMD
            - IRN
            - PRK
            - NIU
            - NFK
            - MHL
            - PCN
            - SHN
            - MAF
            - SPM
            - SDN
            - ESH
            - SJM
            - SYR
            - TKL
            - TUV
            - WLF
            - IOT
            - ROM
            - ZAR
            - TMP
            - QZZ
        mcc:
          type: string
        sourceCurrencies:
          $ref: '#/components/schemas/CurrencyList'
        mcpRateType:
          type: string
          enum:
            - DefaultRate
            - ExceptionRate
            - CardBrandRate
            - LegacyRate
        mcpMarginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        dccMarginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        dcpMarginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        dcsMarginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        dptMarginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        dppMarginSetup:
          $ref: '#/components/schemas/MarginSetupWithOverride'
        streetAddress:
          type: string
        postalCode:
          type: string
        timeZone:
          type: string
        mcp:
          type: boolean
        dcc:
          type: boolean
        dcp:
          type: boolean
        dcs:
          type: boolean
        dpt:
          type: boolean
        dpp:
          type: boolean
    GetCrossReferenceIDRequest:
      type: object
      properties:
        nodeType:
          type: string
          enum:
            - Root
            - Enterprise
            - Servicer
            - Agent
            - SubClient
            - Location
        parentID:
          type: string
    GetCrossReferenceIDResponse:
      type: object
      properties:
        crossReferenceIDList:
          type: array
          items:
            type: string
    BinSetupSearchRequest:
      type: object
      properties:
        pageIndex:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        issueType:
          type: string
          enum:
            - Credit
            - Debit
            - Unknown
            - Prepaid
        issueDetail:
          type: string
          enum:
            - CreditHybrid
            - DebitPinOnlyWithEBT
            - DebitHybrid
            - USACommercialDebitNotPinCapable
            - USACommercialDebitPinCapable
            - NonUSAConsumerDebitNotPinCapable
            - NonUSACommercialDebitNotPinCapable
            - NonUSAConsumerDebitPinCapable
            - NonUSACommercialDebitPinCapable
            - DebitPinOnlyWithoutEBT
            - PrivateLabelMC
            - SignatureOnly
            - TrueCredit
            - Unknown
        country:
          type: string
          enum:
            - Unknown
            - USA
            - AFG
            - ALB
            - DZA
            - AND
            - AGO
            - ATG
            - AZE
            - ARG
            - AUS
            - AUT
            - BHS
            - BHR
            - BGD
            - ARM
            - BRB
            - BEL
            - BMU
            - BTN
            - BOL
            - BIH
            - BWA
            - BRA
            - BLZ
            - SLB
            - VGB
            - BRN
            - BGR
            - MMR
            - BLR
            - KHM
            - CMR
            - CAN
            - CPV
            - CYM
            - LKA
            - TCD
            - CHL
            - CHN
            - TWN
            - COL
            - COM
            - MYT
            - COG
            - COD
            - COK
            - CRI
            - HRV
            - CUB
            - CYP
            - CZE
            - BEN
            - DNK
            - DMA
            - DOM
            - ECU
            - SLV
            - GNQ
            - ETH
            - ERI
            - EST
            - FRO
            - FJI
            - FIN
            - FRA
            - GUF
            - PYF
            - DJI
            - GEO
            - GMB
            - PSE
            - DEU
            - GHA
            - GIB
            - GRC
            - GRD
            - GLP
            - GUM
            - GTM
            - GIN
            - GUY
            - VAT
            - HND
            - HKG
            - HUN
            - ISL
            - IND
            - IDN
            - IRQ
            - IRL
            - ISR
            - ITA
            - CIV
            - JAM
            - JPN
            - KAZ
            - JOR
            - KEN
            - KOR
            - KWT
            - KGZ
            - LAO
            - LBN
            - LSO
            - LVA
            - LBR
            - LIE
            - LTU
            - LUX
            - MAC
            - MDG
            - MWI
            - MYS
            - MDV
            - MLT
            - MTQ
            - MRT
            - MUS
            - MEX
            - MCO
            - MNG
            - MDA
            - MNE
            - MSR
            - MAR
            - MOZ
            - OMN
            - NAM
            - NPL
            - NLD
            - CUW
            - ABW
            - SXM
            - BES
            - NCL
            - VUT
            - NZL
            - NIC
            - NGA
            - NOR
            - PLW
            - PAK
            - PAN
            - PNG
            - PRY
            - PER
            - PHL
            - POL
            - PRT
            - PRI
            - QAT
            - REU
            - ROU
            - RUS
            - RWA
            - KNA
            - AIA
            - LCA
            - VCT
            - SMR
            - SAU
            - SEN
            - SRB
            - SYC
            - SLE
            - SGP
            - SVK
            - VNM
            - SVN
            - SOM
            - ZAF
            - ZWE
            - ESP
            - SUR
            - SWZ
            - SWE
            - CHE
            - TJK
            - THA
            - TGO
            - TTO
            - ARE
            - TUN
            - TUR
            - TCA
            - UGA
            - UKR
            - MKD
            - EGY
            - GBR
            - GGY
            - JEY
            - IMN
            - TZA
            - VIR
            - BFA
            - ASM
            - BDI
            - CAF
            - SGS
            - GAB
            - KIR
            - GRL
            - HTI
            - LBY
            - MLI
            - NRU
            - ANT
            - NER
            - MNP
            - UMI
            - FSM
            - GNB
            - TLS
            - BLM
            - STP
            - SSD
            - TON
            - TKM
            - URY
            - UZB
            - VEN
            - WSM
            - YEM
            - ZMB
            - ATA
            - BVT
            - CXR
            - CCK
            - FLK
            - ALA
            - ATF
            - HMD
            - IRN
            - PRK
            - NIU
            - NFK
            - MHL
            - PCN
            - SHN
            - MAF
            - SPM
            - SDN
            - ESH
            - SJM
            - SYR
            - TKL
            - TUV
            - WLF
            - IOT
            - ROM
            - ZAR
            - TMP
            - QZZ
        issuerName:
          type: string
        shortName:
          type: string
        binNumber:
          type: integer
          format: int32
        cardBrands:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - DebitOnly
              - Amex
              - Visa
              - Master
              - Discover
              - ClosedLoop
              - Unknown
              - PrivateLabel
        issueTypes:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Credit
              - Debit
              - Unknown
              - Prepaid
        issueDetails:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - CreditHybrid
              - DebitPinOnlyWithEBT
              - DebitHybrid
              - USACommercialDebitNotPinCapable
              - USACommercialDebitPinCapable
              - NonUSAConsumerDebitNotPinCapable
              - NonUSACommercialDebitNotPinCapable
              - NonUSAConsumerDebitPinCapable
              - NonUSACommercialDebitPinCapable
              - DebitPinOnlyWithoutEBT
              - PrivateLabelMC
              - SignatureOnly
              - TrueCredit
              - Unknown
        countries:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - Unknown
              - USA
              - AFG
              - ALB
              - DZA
              - AND
              - AGO
              - ATG
              - AZE
              - ARG
              - AUS
              - AUT
              - BHS
              - BHR
              - BGD
              - ARM
              - BRB
              - BEL
              - BMU
              - BTN
              - BOL
              - BIH
              - BWA
              - BRA
              - BLZ
              - SLB
              - VGB
              - BRN
              - BGR
              - MMR
              - BLR
              - KHM
              - CMR
              - CAN
              - CPV
              - CYM
              - LKA
              - TCD
              - CHL
              - CHN
              - TWN
              - COL
              - COM
              - MYT
              - COG
              - COD
              - COK
              - CRI
              - HRV
              - CUB
              - CYP
              - CZE
              - BEN
              - DNK
              - DMA
              - DOM
              - ECU
              - SLV
              - GNQ
              - ETH
              - ERI
              - EST
              - FRO
              - FJI
              - FIN
              - FRA
              - GUF
              - PYF
              - DJI
              - GEO
              - GMB
              - PSE
              - DEU
              - GHA
              - GIB
              - GRC
              - GRD
              - GLP
              - GUM
              - GTM
              - GIN
              - GUY
              - VAT
              - HND
              - HKG
              - HUN
              - ISL
              - IND
              - IDN
              - IRQ
              - IRL
              - ISR
              - ITA
              - CIV
              - JAM
              - JPN
              - KAZ
              - JOR
              - KEN
              - KOR
              - KWT
              - KGZ
              - LAO
              - LBN
              - LSO
              - LVA
              - LBR
              - LIE
              - LTU
              - LUX
              - MAC
              - MDG
              - MWI
              - MYS
              - MDV
              - MLT
              - MTQ
              - MRT
              - MUS
              - MEX
              - MCO
              - MNG
              - MDA
              - MNE
              - MSR
              - MAR
              - MOZ
              - OMN
              - NAM
              - NPL
              - NLD
              - CUW
              - ABW
              - SXM
              - BES
              - NCL
              - VUT
              - NZL
              - NIC
              - NGA
              - NOR
              - PLW
              - PAK
              - PAN
              - PNG
              - PRY
              - PER
              - PHL
              - POL
              - PRT
              - PRI
              - QAT
              - REU
              - ROU
              - RUS
              - RWA
              - KNA
              - AIA
              - LCA
              - VCT
              - SMR
              - SAU
              - SEN
              - SRB
              - SYC
              - SLE
              - SGP
              - SVK
              - VNM
              - SVN
              - SOM
              - ZAF
              - ZWE
              - ESP
              - SUR
              - SWZ
              - SWE
              - CHE
              - TJK
              - THA
              - TGO
              - TTO
              - ARE
              - TUN
              - TUR
              - TCA
              - UGA
              - UKR
              - MKD
              - EGY
              - GBR
              - GGY
              - JEY
              - IMN
              - TZA
              - VIR
              - BFA
              - ASM
              - BDI
              - CAF
              - SGS
              - GAB
              - KIR
              - GRL
              - HTI
              - LBY
              - MLI
              - NRU
              - ANT
              - NER
              - MNP
              - UMI
              - FSM
              - GNB
              - TLS
              - BLM
              - STP
              - SSD
              - TON
              - TKM
              - URY
              - UZB
              - VEN
              - WSM
              - YEM
              - ZMB
              - ATA
              - BVT
              - CXR
              - CCK
              - FLK
              - ALA
              - ATF
              - HMD
              - IRN
              - PRK
              - NIU
              - NFK
              - MHL
              - PCN
              - SHN
              - MAF
              - SPM
              - SDN
              - ESH
              - SJM
              - SYR
              - TKL
              - TUV
              - WLF
              - IOT
              - ROM
              - ZAR
              - TMP
              - QZZ
        exclude:
          type: boolean
    BinInfo:
      type: object
      properties:
        bd:
          type: string
        id:
          type: string
        in:
          type: string
        es:
          type: string
          enum:
            - Unknown
            - AL
            - AK
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - OH
            - OK
            - OR
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VA
            - VI
            - WA
            - WV
            - WI
            - WY
            - AB
            - BC
            - MB
            - NB
            - NL
            - NT
            - NS
            - NU
            - 'ON'
            - PE
            - QC
            - SK
            - YT
        an:
          type: string
          enum:
            - DebitOnly
            - Amex
            - Visa
            - Master
            - Discover
            - ClosedLoop
            - Unknown
            - PrivateLabel
        ct:
          type: string
          enum:
            - CreditHybrid
            - DebitPinOnlyWithEBT
            - DebitHybrid
            - USACommercialDebitNotPinCapable
            - USACommercialDebitPinCapable
            - NonUSAConsumerDebitNotPinCapable
            - NonUSACommercialDebitNotPinCapable
            - NonUSAConsumerDebitPinCapable
            - NonUSACommercialDebitPinCapable
            - DebitPinOnlyWithoutEBT
            - PrivateLabelMC
            - SignatureOnly
            - TrueCredit
            - Unknown
        it:
          type: string
          enum:
            - Credit
            - Debit
            - Unknown
            - Prepaid
        la:
          type: string
        ha:
          type: string
        sd:
          type: string
        rl:
          type: string
          enum:
            - Unknown
            - Unregulated
            - Regulated
            - RegulatedWithFraud
        rd:
          type: string
          enum:
            - Unknown
            - Reloadable
            - NonReloadable
        ic:
          type: string
          enum:
            - Unknown
            - USA
            - AFG
            - ALB
            - DZA
            - AND
            - AGO
            - ATG
            - AZE
            - ARG
            - AUS
            - AUT
            - BHS
            - BHR
            - BGD
            - ARM
            - BRB
            - BEL
            - BMU
            - BTN
            - BOL
            - BIH
            - BWA
            - BRA
            - BLZ
            - SLB
            - VGB
            - BRN
            - BGR
            - MMR
            - BLR
            - KHM
            - CMR
            - CAN
            - CPV
            - CYM
            - LKA
            - TCD
            - CHL
            - CHN
            - TWN
            - COL
            - COM
            - MYT
            - COG
            - COD
            - COK
            - CRI
            - HRV
            - CUB
            - CYP
            - CZE
            - BEN
            - DNK
            - DMA
            - DOM
            - ECU
            - SLV
            - GNQ
            - ETH
            - ERI
            - EST
            - FRO
            - FJI
            - FIN
            - FRA
            - GUF
            - PYF
            - DJI
            - GEO
            - GMB
            - PSE
            - DEU
            - GHA
            - GIB
            - GRC
            - GRD
            - GLP
            - GUM
            - GTM
            - GIN
            - GUY
            - VAT
            - HND
            - HKG
            - HUN
            - ISL
            - IND
            - IDN
            - IRQ
            - IRL
            - ISR
            - ITA
            - CIV
            - JAM
            - JPN
            - KAZ
            - JOR
            - KEN
            - KOR
            - KWT
            - KGZ
            - LAO
            - LBN
            - LSO
            - LVA
            - LBR
            - LIE
            - LTU
            - LUX
            - MAC
            - MDG
            - MWI
            - MYS
            - MDV
            - MLT
            - MTQ
            - MRT
            - MUS
            - MEX
            - MCO
            - MNG
            - MDA
            - MNE
            - MSR
            - MAR
            - MOZ
            - OMN
            - NAM
            - NPL
            - NLD
            - CUW
            - ABW
            - SXM
            - BES
            - NCL
            - VUT
            - NZL
            - NIC
            - NGA
            - NOR
            - PLW
            - PAK
            - PAN
            - PNG
            - PRY
            - PER
            - PHL
            - POL
            - PRT
            - PRI
            - QAT
            - REU
            - ROU
            - RUS
            - RWA
            - KNA
            - AIA
            - LCA
            - VCT
            - SMR
            - SAU
            - SEN
            - SRB
            - SYC
            - SLE
            - SGP
            - SVK
            - VNM
            - SVN
            - SOM
            - ZAF
            - ZWE
            - ESP
            - SUR
            - SWZ
            - SWE
            - CHE
            - TJK
            - THA
            - TGO
            - TTO
            - ARE
            - TUN
            - TUR
            - TCA
            - UGA
            - UKR
            - MKD
            - EGY
            - GBR
            - GGY
            - JEY
            - IMN
            - TZA
            - VIR
            - BFA
            - ASM
            - BDI
            - CAF
            - SGS
            - GAB
            - KIR
            - GRL
            - HTI
            - LBY
            - MLI
            - NRU
            - ANT
            - NER
            - MNP
            - UMI
            - FSM
            - GNB
            - TLS
            - BLM
            - STP
            - SSD
            - TON
            - TKM
            - URY
            - UZB
            - VEN
            - WSM
            - YEM
            - ZMB
            - ATA
            - BVT
            - CXR
            - CCK
            - FLK
            - ALA
            - ATF
            - HMD
            - IRN
            - PRK
            - NIU
            - NFK
            - MHL
            - PCN
            - SHN
            - MAF
            - SPM
            - SDN
            - ESH
            - SJM
            - SYR
            - TKL
            - TUV
            - WLF
            - IOT
            - ROM
            - ZAR
            - TMP
            - QZZ
        ac:
          type: boolean
        d_st:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_ac:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_ny:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_je:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_in:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_vi:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_ma:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_cu:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_af:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_sh:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_eb:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_it:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_pu:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        d_at:
          type: string
          enum:
            - NA
            - PinPinlessPOS
            - PinPOSPinlessBillPay
            - PinPOS
            - PinPOSPinlessPOSPinlessBillPay
            - PinlessBillPay
            - PinlessPOS
            - PinlessBillPayPinlessPOS
        cc:
          type: string
          enum:
            - Unknown
            - Business
            - Consumer
            - Corporate
            - Purchase
        cs:
          type: string
          enum:
            - Unknown
            - A2
            - C3
            - D4
            - D5
            - D6
            - D7
            - D8
            - D9
            - D10
            - D11
            - D12
            - D13
[...]
